{% extends 'blog/base.html' %}

{% block content %}
<br/><br/>

            <form action="" method=POST>
                {% csrf_token %}

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
  </div>
                <br/>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
                <br/>


                <input type="submit"
                value="Login" class="btn btn-secondary">
            </form>
<br/><br/>
{% endblock %}